.achieve {
  padding-top: 120px;
  padding-bottom: 117px;
  background-image: url("../img/achieve-bg.png");
  background-position: right -10px bottom -528px;
  background-repeat: no-repeat;
  background-color: var(--color-light);

  &__item {
    @include flex-column-center;

    grid-column: 3 span;
    padding-top: 70px;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &--reccom {
      background-image: url("../img/like.svg");
    }

    &--renov {
      background-image: url("../img/paint.svg");
    }

    &--spec {
      background-image: url("../img/helmet.svg");
    }

    &--finish {
      background-image: url("../img/pant.svg");
    }

    @include tablet {
      grid-column: 6 span;
    }
  }

  &__image {
    @include minidesk {
      max-width: 100%;
    }

    @include minitablet {
      margin-bottom: 10px;
      margin-left: 40px;
      width: 70%;
    }

    @include mobile {
      margin: 0;
      width: 100%;
    }
  }

  &__value {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-primary);

    @include minidesk {
      font-size: 36px;
      line-height: 54px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__list {
    margin-bottom: 260px;

    @include minidesk {
      margin-bottom: 120px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @include minitablet {
      display: block;
    }
  }

  &__info {
    position: relative;
    left: -30px;
    top: -120px;
    z-index: 10;
    flex-shrink: 0;
    margin-right: -30px;
    border-radius: 4px;
    padding: 80px 82px;
    padding-right: 30px;
    padding-bottom: 58px;
    width: 735px;
    box-shadow: var(--main-shadow);
    background: var(--color-light);

    @include minidesk {
      left: 0;
      top: 0;
      padding: 8px 25px;
      width: 70%;
    }

    @include minitablet {
      width: 100%;
    }

    @include mobile {
      padding: 15px;
    }
  }

  @include minidesk {
    padding: 60px 0;
  }
}

.quote {
  margin: 0;

  &__content {
    position: relative;
    margin-bottom: 40px;
    padding: 0 53px;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      top: 0;
      width: 28px;
      height: 20px;
      background-image: url("../img/braces.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include mobile {
        left: 0;
      }
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-ebony);

      &:not(:last-child) {
        margin-bottom: 30px;

        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    @include mobile {
      padding: 0;
      padding-top: 40px;

      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  &__footer {
    padding: 20px 53px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
    background-image: url("../img/signature.svg");
    background-position: right 75px center;
    background-size: 100px 68px;
    background-repeat: no-repeat;

    @include mobile {
      padding: 0;
      padding-bottom: 80px;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      background-position: bottom center;
    }
  }

  &__author {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebony);

    @include mobile {
      margin-bottom: 0;
    }
  }
}
