.categories {
  padding-top: 120px;
  padding-bottom: 180px;

  &__title {
    margin-bottom: 39px;
  }

  @include tablet {
    padding: 60px 0;
  }
}

.categories-nav {
  @include flex-all-sb;

  &__item {
    margin-bottom: 60px;
    width: calc(100% / 6);

    @include tablet {
      margin-bottom: 20px;
      width: calc(100% / 3);
    }

    @include mobile {
      margin-bottom: 15px;
      width: calc(100% / 2);
    }
  }

  &__btn {
    @include flex-all-center;

    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #9a9ca5;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid rgb(255 90 48 / 40%);
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }

    &--active {
      border: 1px solid currentcolor;
      color: var(--color-primary);
    }
  }

  @include tablet {
    flex-wrap: wrap;
  }
}

.categories-list {
  grid-row-gap: 58px;
  margin-bottom: 60px;

  &__item {
    grid-column: 6 span;
  }

  .news-article__descr {
    overflow: hidden;
    height: 52px;
  }
}

.categories-pag {
  @include flex-all-center;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    transition: color 0.3s ease-in-out;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: currentcolor;
      object-fit: cover;
    }

    &:focus {
      outline: 2px solid rgb(255 90 48 / 40%);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }

    &--active {
      color: var(--color-primary);
    }
  }
}
