.hero {
  &__content {
    margin-left: 14px;
    max-width: 590px;
  }

  &__next {
    position: absolute;
    right: 24px;
    top: 50%;
    z-index: 10;
    background-color: var(--color-light);
    transform: translateY(-50%);
  }

  &__prev {
    position: absolute;
    left: 24px;
    top: 50%;
    z-index: 10;
    background-color: var(--color-light);
    transform: translateY(-50%);
  }

  &__pag {
    counter-reset: pag;
    left: calc((100% - 1260px) / 2) !important;
    bottom: 120px !important;
    display: flex;

    .swiper-pagination-bullet {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      width: 178px;
      height: auto;
      text-align: left;
      background-color: transparent;
      opacity: 1;

      &::before {
        counter-increment: pag;
        content: "0"counter(pag);
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: rgba(#fff, 0.3);
        transition: color 0.3s ease-in-out;
      }

      &::after {
        display: none;
      }

      &:not(:last-child) {
        margin-right: 0 !important;
      }
    }
  }

  &__bar {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    width: 100%;
    height: 2px;
    background-color: rgba(#fff, 0.3);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-light);
      transform: scaleX(0);
      transform-origin: left;
    }
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 22px;
      }
    }
  }
}

.swiper-pagination-bullet-active {
  &::before {
    color: var(--color-light) !important;
  }

  .hero__bar {
    &::after {
      transform: scaleX(1);
      transition: transform var(--hero-slider-speed) ease-in-out;
    }
  }
}

.hero-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-slide {
  padding-top: 220px;
  padding-bottom: 352px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-gray);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-left: 12px;
}
