<section class="clients">
  <div class="container">
    <h2 class="title title--center clients__title">Our clients</h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-1.png" alt="logo-1">
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-2.png" alt="logo-2">
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-3.png" alt="logo-3">
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-4.png" alt="logo-4">
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-5.png" alt="logo-5">
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"></a>
          <img class="clients__logo" src="img/partners/partners-6.png" alt="logo-6">
      </li>
    </ul>
  </div>
</section>
