<section class="decisions">
  <div class="container grid">
    <div class="decisions__left">
      <picture>
        <source srcset="img/decisions-image.avif" type="image/avif">
        <source srcset="img/decisions-image.webp" type="image/webp">
        <img loading="lazy" src="img/decisions-image.jpeg" alt="" aria-hidden="true">
      </picture>
    </div>
    <div class="decisions__right">
      <h2 class="title decisions__title">Constructive decisions</h2>
      <ul class="decisions__list list-reset">
        <li class="decisions__item">Vitae ultrices ornare eu sed in est quisque duis id.</li>
        <li class="decisions__item">A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
        <li class="decisions__item">Mauris odio pellentesque commodo, diam.</li>
        <li class="decisions__item">Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.</li>
        <li class="decisions__item">At pharetra libero blandit risus, fringilla sed commodo diam.</li>
        <li class="decisions__item">Integer ultricies viverra ut enim viverra ut.</li>
      </ul>
    </div>
  </div>
</section>
