<div class="graph-modal">
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Subscribe to our newsletter</h2>
        <form class="site-modal__form form-1">
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Name*</span>
            <input class="form-field__input" required type="text" name="name" placeholder="Your name">
          </label>
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Email*</span>
            <input class="form-field__input" type="email" name="email" placeholder="Your working email">
          </label>
          <button class="site-modal__btn btn btn--fill" type="submit">send</button>
        </form>
    </div>
  </div>

  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="second">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Send your CV</h2>
        <form class="site-modal__form form-1">
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Name*</span>
            <input class="form-field__input" required type="text" name="name" placeholder="Your name">
          </label>
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Location*</span>
            <select name="location" class="form-field__select" required>
              <option value="">Choose your location</option>
              <option value="New_York">New York</option>
            </select>
          </label>
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Phone*</span>
            <input class="form-field__input" required type="tel" name="phone" placeholder="Your phone number">
          </label>
          <label class="form-field form-field--gray site-modal__field">
            <span class="form-field__caption">Email*</span>
            <input class="form-field__input" type="email" name="email" placeholder="Your working email">
          </label>
          <label class="form-field form-field--gray site-modal__field site-modal__field--big">
            <span class="form-field__caption">Сovering letter</span>
            <textarea class="form-field__input form-field__input--big" required name="message" placeholder="Your covering letter"></textarea>
          </label>
          <label class="custom-file site-modal__checkbox">
            <input class="custom-file__input" type="file">
            <span class="custom-file__text">Attach your CV*</span>
          </label>
          <button class="site-modal__btn btn btn--fill" type="submit">send</button>
        </form>
    </div>
  </div>
</div>
