<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__title">Our partners</h2>
    <p class="descr descr--center">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="logo-1">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="logo-2">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="logo-3">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="logo-4">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="logo-5">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="logo-6">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-7.png" alt="logo-7">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-8.png" alt="logo-8">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-9.png" alt="logo-9">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-10.png" alt="logo-10">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-11.png" alt="logo-11">
        </a>
      </li>
      </a>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-12.png" alt="logo-12">
        </a>
      </li>
      </a>
    </ul>
  </div>
</section>
