<section class="partners">
  <div class="container">
    <h2 class="title title--center partners__title">Supported by 12+ partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-1.png" alt="logo-1">
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-2.png" alt="logo-2">
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-3.png" alt="logo-3">
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-4.png" alt="logo-4">
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-5.png" alt="logo-5">
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"></a>
          <img class="partners__logo" src="img/partners/partners-6.png" alt="logo-6">
      </li>
    </ul>
  </div>
</section>
