<div class="comments">
  <h2 class="title title--center comments__title">4 comments</h2>
  <ul class="list-reset comments__list">
    <li class="comments__item">
      <article class="comment">
        <div class="comment__left">
          <span class="comment__author">Devon Lane</span>
          <time class="comment__time" datetime="2020-07-15 19:00">July 15, 2020</time>
        </div>
        <div class="comment__right">
          <div class="comment__body">
            <p>
              Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.
            </p>
          </div>
          <button class="comment__reply btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>
            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">
        <div class="comment__left">
          <span class="comment__author">Annette Black</span>
          <time class="comment__time" datetime="2020-08-15 19:00">1 day ago</time>
        </div>
        <div class="comment__right">
          <div class="comment__body">
            <p>
              <a href="#">@Devon Lane</a> Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.
            </p>
          </div>
          <button class="comment__reply btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>
            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">
        <div class="comment__left">
          <span class="comment__author">Albert Flores</span>
          <time class="comment__time" datetime="2020-07-07 19:00">July 7, 2020</time>
        </div>
        <div class="comment__right">
          <div class="comment__body">
            <p>
              Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus nisl duis id diam.
            </p>
          </div>
          <button class="comment__reply btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>
            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">
        <div class="comment__left">
          <span class="comment__author">Marvin McKinney</span>
          <time class="comment__time" datetime="2020-06-28 19:00">June 28, 2020</time>
        </div>
        <div class="comment__right">
          <div class="comment__body">
            <p>
              Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
            </p>
          </div>
          <button class="comment__reply btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>
            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
  </ul>
</div>
