<section class="team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">
      People are at the heart of Createx Construction Bureau
    </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-1.avif" type="image/avif">
          <source srcset="img/team/team-1.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-1.jpg" class="team__image" alt="Alexander">
        </picture>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-2.avif" type="image/avif">
          <source srcset="img/team/team-2.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-2.jpg" class="team__image" alt="Calvin Fox">
        </picture>
        <div class="team__name">Calvin Fox</div>
        <div class="team__post">CTO, Co-Founder</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-3.avif" type="image/avif">
          <source srcset="img/team/team-3.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-3.jpg" class="team__image" alt="Johnny Lane">
        </picture>
        <div class="team__name">Johnny Lane</div>
        <div class="team__post">Commercial Manager</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-4.avif" type="image/avif">
          <source srcset="img/team/team-4.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-4.jpg" class="team__image" alt="Diane Mccoy">
        </picture>
        <div class="team__name">Diane Mccoy</div>
        <div class="team__post">Director of Human Resources</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-5.avif" type="image/avif">
          <source srcset="img/team/team-5.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-5.jpg" class="team__image" alt="Judith Warren">
        </picture>
        <div class="team__name">Judith Warren</div>
        <div class="team__post">Lead Accountant</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-6.avif" type="image/avif">
          <source srcset="img/team/team-6.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-6.jpg" class="team__image" alt="Floyd Simmmons">
        </picture>
        <div class="team__name">Floyd Simmmons</div>
        <div class="team__post">Finacial Director</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-7.avif" type="image/avif">
          <source srcset="img/team/team-7.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-7.jpg" class="team__image" alt="Serenity Edwards">
        </picture>
        <div class="team__name">Serenity Edwards</div>
        <div class="team__post">Director of Marketing</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/team-8.avif" type="image/avif">
          <source srcset="img/team/team-8.webp" type="image/webp">
          <img loading="lazy" src="img/team/team-8.jpg" class="team__image" alt="Shawn Edwards">
        </picture>
        <div class="team__name">Shawn Edwards</div>
        <div class="team__post">Tech Lead</div>
        <div class="team-socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked In">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="team__text">
      Become a part of the best team in the construction market of the USA. <a href="#">Available Positions</a>
    </div>
  </div>
</section>
